{{- /*
  DEL-LINKENE: LinkedIn, Mastodon, Bluesky og e-mail.
  Hvilke der står, følger params.social.
*/ -}}
{{- $url := .Permalink }}
{{- $titel := .Title }}
{{- $links := slice }}

{{- with site.Params.social.linkedin }}
  {{- $links = $links | append (dict "navn" "LinkedIn" "ikon" "linkedin"
      "url" (printf "https://www.linkedin.com/sharing/share-offsite/?url=%s" ($url | urlquery))) }}
{{- end }}

{{- with site.Params.social.mastodon }}
  {{- $links = $links | append (dict "navn" "Mastodon" "ikon" "mastodon"
      "url" (printf "https://%s" .)) }}
{{- end }}

{{- with site.Params.social.bluesky }}
  {{- $links = $links | append (dict "navn" "Bluesky" "ikon" "bluesky"
      "url" (printf "https://bsky.app/intent/compose?text=%s" (printf "%s %s" $titel $url | urlquery))) }}
{{- end }}

{{- $links = $links | append (dict "navn" "E-mail" "ikon" "mail"
    "url" (printf "mailto:?subject=%s&body=%s" ($titel | urlquery) ($url | urlquery))) }}

<section class="post-efter" aria-labelledby="del">
  <h2 id="del">Del</h2>
  <div class="share-raekke">
    {{- range $links }}
    <a class="share" href="{{ .url }}" rel="noopener">{{ partial "ikon.html" .ikon }}{{ .navn }}</a>
    {{- end }}
  </div>
</section>
