{{- /*
  METALINJEN: forfatter, første mærke, dato og læsetid, adskilt af
  skråstreger.
*/ -}}
{{- $dele := slice -}}

{{- with site.Params.author -}}
  {{- $dele = $dele | append (printf `Af <a class="quiet" href="%s" rel="author">%s</a>` ("/om/" | relURL) .) -}}
{{- end -}}

{{- with .GetTerms "tags" -}}
  {{- $t := index . 0 -}}
  {{- $dele = $dele | append (printf `<a class="quiet" href="%s">%s</a>` $t.RelPermalink $t.LinkTitle) -}}
{{- end -}}

{{- if not .Date.IsZero -}}
  {{- $dele = $dele | append (printf `<time datetime="%s">%s</time>` (.Date.Format "2006-01-02") (.Date | time.Format "2. January 2006")) -}}
{{- end -}}

{{- if and (site.Params.laesetid | default true) .ReadingTime -}}
  {{- $dele = $dele | append (printf `%d min. læsning` .ReadingTime) -}}
{{- end -}}

{{- with $dele }}
<div class="meta">
  {{- range $i, $d := . }}
    {{- if $i }}<span class="sep" aria-hidden="true">/</span>{{ end }}
    <span>{{ $d | safeHTML }}</span>
  {{- end }}
</div>
{{- end -}}
