{{- /*
  OMSLAGSBILLEDET som <figure class="featured"> med srcset og billedtekst:

      {{ partial "omslag.html" . }}
*/ -}}
{{- with partial "omslag-ressource.html" . }}
  {{- $org   := . }}
  {{- $alt   := $.Params.cover.alt }}
  {{- $tekst := $.Params.cover.caption }}
  {{- $saet  := slice }}
  {{- range (slice 480 800 1200 1600 2000 2400) }}
    {{- if ge $org.Width . }}
      {{- $saet = $saet | append (printf "%s %dw" ($org.Resize (printf "%dx webp q82" .)).RelPermalink .) }}
    {{- end }}
  {{- end }}
  {{- $vist := $org.Resize "1600x webp q82" }}
  <figure class="featured">
    <img class="washed"
         src="{{ $vist.RelPermalink }}"
         {{ with $saet }}srcset="{{ delimit . ", " }}"
         sizes="(min-width: 1120px) 1120px, 100vw"{{ end }}
         width="{{ $org.Width }}" height="{{ $org.Height }}"
         alt="{{ $alt }}">
    {{- with $tekst }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
{{- end }}
