{{- /*
  STYLESHEETET. Samler temaets CSS-filer i rækkefølge til én fil,
  minificerer og fingeraftrykker den. En ny fil skal skrives ind på listen.
  Forud står preload på de to skrifter, der bærer første skærmbillede.
*/ -}}
{{- $skrifter := partial "skrifter.html" . -}}
{{- range slice "Merriweather-Bold" "SourceSans3" -}}
  {{- with index $skrifter . }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
  {{- end -}}
{{- end }}
{{- $filer := slice
      (resources.Get "css/00-skrifter.css" | resources.ExecuteAsTemplate "css/00-skrifter.css" (dict "skrifter" $skrifter))
      (resources.Get "css/01-variabler.css")
      (resources.Get "css/02-grundlag.css")
      (resources.Get "css/03-brodtekst.css")
      (resources.Get "css/04-kode.css")
      (resources.Get "css/05-kode-farver.css")
      (resources.Get "css/06-tabeller.css")
      (resources.Get "css/07-arkiv.css")
      (resources.Get "css/08-omslag.css")
      (resources.Get "css/09-tidslinje.css")
      (resources.Get "css/10-print.css")
      (resources.Get "css/11-bevaegelse.css")
      (resources.Get "css/12-dine-egne.css")
-}}
{{- $stil := $filer | resources.Concat "css/alt.css" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $stil.RelPermalink }}" integrity="{{ $stil.Data.Integrity }}">
