{{- /*
  Hvilke indlæg der er med i en tidslinje, fundet i `tidslinje-led.html`.
  Kaldes med partialCached og giver et opslag fra indlæggets RelPermalink.
*/ -}}
{{- $indeks := dict -}}
{{- range where site.Pages "Params.tidslinje" true -}}
  {{- $tl := . -}}
  {{- $led := partialCached "tidslinje-led.html" . .RelPermalink -}}
  {{- range $i, $h := $led -}}
    {{- if and $h.indlaeg (not (index $indeks $h.indlaeg)) -}}
      {{- $plads := dict "tidslinje" $tl "haendelse" $h "n" (add $i 1) "total" (len $led) "led" $led -}}
      {{- if $i }}{{ $plads = merge $plads (dict "forrige" (index $led (sub $i 1))) }}{{ end -}}
      {{- if lt (add $i 1) (len $led) }}{{ $plads = merge $plads (dict "naeste" (index $led (add $i 1))) }}{{ end -}}
      {{- $indeks = merge $indeks (dict $h.indlaeg $plads) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $indeks -}}
