{{ define "main" }}
  {{- /*
    NOTERNE. Notesbogen: opslag, der bliver opdateret, i modsætning til
    artikler, der bliver udgivet én gang. Derfor sorteres der efter SIDST
    ÆNDRET og ikke efter udgivelsesdato, og datoen i listen er den samme.
  */ -}}
  <section class="arkiv-side">
    <h1 class="post-h post-h--arkiv">{{ .Title }}</h1>

    {{- with .Content }}<div class="body-copy">{{ . }}</div>{{ end }}

    {{- with .Pages.ByLastmod.Reverse }}
    {{- range $i, $gruppe := .GroupByLastmod "2006" }}
      <div class="arch-gruppe" id="noter-{{ $gruppe.Key }}">
        <div class="arch-gruppe-hoved">
          <span>{{ $gruppe.Key }}</span>
          {{- if $i }}<a class="totop" href="#indhold">Til toppen</a>{{ end }}
        </div>
        <ul class="arch-liste">
          {{- range $gruppe.Pages }}
          <li>
            <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod | time.Format "2. Jan" }}</time>
            <a class="arch-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{- end }}
        </ul>
      </div>
    {{- end }}
    {{- end }}
  </section>
{{ end }}
