{{- /*
  {{< haendelse dato="2024-06-18" titel="…" url="…" >}} ... {{< /haendelse >}}
  Én hændelse i en tidslinje. dato er ISO; den danske gengivelse laves her.
*/ -}}
{{- $dato := time.AsTime (.Get "dato") -}}
<div class="haendelse">
  <div class="haendelse-hoved">
    <time datetime="{{ $dato.Format "2006-01-02" }}">{{ $dato | time.Format "2. January 2006" }}</time>
    <h3>{{ with .Get "url" }}<a href="{{ . }}">{{ $.Get "titel" }}</a>{{ else }}{{ .Get "titel" }}{{ end }}</h3>
  </div>
  <div class="haendelse-krop">{{ .Page.RenderString (dict "display" "block") .Inner }}
  </div>
</div>
