{{ define "main" }}
  {{- /*
    ARKIVET. Artikler og noter fra alle skrivesektionerne grupperet efter
    år og udgivelsesdato, med arkivvælgeren over. Noterne får en etiket.
  */ -}}
  {{- $skriv := partial "skrivesektion.html" . }}
  {{- $sider := .Pages }}
  {{- with $skriv.arkiv }}{{ if eq .Section $.Section }}
    {{- $sider = where site.RegularPages "Section" "in" $skriv.sektioner }}
  {{- end }}{{ end }}
  <section class="arkiv-side">
    <h1 class="post-h post-h--arkiv">{{ .Title }}</h1>

    {{- with .Content }}<div class="body-copy">{{ . }}</div>{{ end }}
    {{- with $sider.ByDate.Reverse }}
    {{ partial "arkiv-vaelger.html" (dict "side" $ "tilstand" "aar") }}

    {{- range $i, $gruppe := .GroupByDate "2006" }}
      <div class="arch-gruppe">
        <div class="arch-gruppe-hoved">
          <span>{{ $gruppe.Key }}</span>
          {{- /* Ikke ved det første år: dér ER man i toppen, og linket
                 peger på det sted, man allerede står. */ -}}
          {{- if $i }}<a class="totop" href="#indhold">Til toppen</a>{{ end }}
        </div>
        <ul class="arch-liste">
          {{- range $gruppe.Pages }}
          <li>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format "2. Jan" }}</time>
            <span>
              <a class="arch-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
              {{- if eq .Section "noter" }} <span class="arch-type">Note</span>{{ end }}
            </span>
          </li>
          {{- end }}
        </ul>
      </div>
    {{- end }}
    {{- end }}
  </section>
{{ end }}
